$dark-color: rgb(20, 20, 20);
$darker-grey: rgb(65, 60, 60);
$light-grey: #c7c7c7;
$light-color: rgb(248, 245, 245);
$dark-violet: rgb(76, 0, 197);
$input-bg: rgb(233, 233, 233);
$incorrect-red: rgb(228, 17, 17);

// easings
$EaseInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);

// transition time

$fast: .15s;
$normal: .3s;
$slower: .5s;